/* body {
  font-family: sans-serif;
  color: #494949;
}

input {
  border-radius: 8px;
  padding: 6px 16px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}

button:hover {
  background-color: #0c1953;
  color: #fff;
  cursor: pointer;
} */
